//* declaring variables below

$fColor: white;
$bgColor: rgb(31, 29, 29);
$bgWColor: white;

/*/ general settings/styles below*/
ul,
ol {
  text-decoration: none;
  list-style-type: none;
}

a:hover {
  cursor: pointer;
}

.whiteBg {
  background-color: $fColor;
  color: $bgColor;
}
.blackBg {
  background-color: $bgColor;
  color: white;
}
