//* importing other scss files below

@import "./_variables";
@import "./main";
@import "./mixins";
@import "./media";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
body {
  font-family: Lato;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
}
.wBg {
  background-color: $bgWColor;
  margin-top: 0;
  padding-top: 0;
}
h1 {
  margin: 0;
}
nav {
  background-color: $bgColor;
  color: $fColor;
  .container {
    @include flexCenter(row);

    font-size: 4rem;
    width: 100%;

    .logo {
      font-family: Kaushan Script;
      width: 35%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      a {
        margin: auto auto;
        text-align: center;
        justify-content: center;
        height: 100%;
        font-size: 4rem;
        color: $fColor;
      }
    }
    .navbar {
      display: flex;
      //flex-grow: 2;
      height: 100%;
      width: 65%;
      justify-content: center;
      align-items: center;
      text-align: center;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 50%;
        li {
          text-align: center;
          display: flex;
          justify-content: center;
          width: 20%;
          height: 100%;
          align-items: center;
          justify-content: center;

          a {
            width: 100%;
            //height: 100%;
            font-size: 1.5rem;
            text-align: center;
            line-height: 100%;
            justify-content: center;
            vertical-align: center;
          }
        }
      }
    }
  }
}
#welcome {
  width: 100%;
  text-align: left;
  font-size: 2rem;
  color: white;
  background-image: url(../img/welcome-img.jpg);
  background-size: cover;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 5%;
}

input,
textarea {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.flex-container {
  @include flexCenter(row);
}

input {
  border: 0;
  padding: 2rem;
  text-align: start;
  font-size: 1.5rem;
}
input::placeholder {
  font-size: 1.5rem;
}

#contact-form {
  flex-direction: column;
  p {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    padding-bottom: 6rem;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.name-email {
  display: flex;
  justify-content: space-between;
  margin: 0;
  input {
    width: 45% !important;
    height: 4rem !important;
    margin: 0;
  }
}

.wide {
  width: 60%;
  margin: 1.5rem;

  input {
    width: 100%;
    height: 4rem;
    background: #f5f5f5;
    border-radius: 4px;
  }
  input:focus {
    outline: none;
  }
  textarea[id="message"] {
    height: 20rem;
    width: 100%;
    font-size: 1.5rem;
    border: 0;
    background: #f5f5f5;
    border-radius: 4px;
    padding: 2rem;
    resize: none;
  }
  textarea:focus {
    outline: none;
  }
}
button[type="submit"] {
  display: block;
  background-color: $bgColor;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  width: 20%;
}

#footer {
  width: 100%;
  justify-items: center;
  div {
    width: 25%;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
p {
  padding: 4rem 4rem 4rem 4rem;
}
