//* importing other scss files below

@import "./_variables";
@import "./main";
@import "./mixins";

//* Styles below

body {
  font-family: Lato;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: $bgColor;
  color: $fColor;
  .container {
    display: flex;
    align-items: center;
    font-size: 4rem;
    min-height: 20rem;
    width: 100%;
    .logo {
      font-family: Kaushan Script;
      width: 50%;
      height: 100%;

      text-align: center;
      a {
        font-size: 4rem;
        color: $fColor;
      }
    }
    .navbar {
      ul {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        padding: 0;
        li {
          min-height: 5rem;
          min-width: 10rem;
          text-align: center;
          vertical-align: middle;
          a {
            width: 100%;
            height: 100%;
            vertical-align: middle;

            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
#contact-pig {
  max-width: 200px;
  max-height: 200px;
}

.flex-container {
  @include flexCenter(row);
  padding: 0.5rem;
}

footer {
  div {
    min-width: 48%;
  }
}
