ul,
ol {
  text-decoration: none;
  list-style-type: none;
}

a:hover {
  cursor: pointer;
}

.whiteBg {
  background-color: white;
}

.blackBg {
  background-color: #1f1d1d;
}

main {
  width: 100%;
  min-height: 20rem;
}

.container {
  width: 100vw;
}

.block {
  min-height: 100vh;
}

.flex-custom {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.tiles {
  display: block;
  height: 300px;
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: white;
  border: solid black 1px;
  margin: 2%;
}

p {
  padding: 2rem 4rem 0 4rem;
  margin: 0;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

body {
  font-family: Lato;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

nav {
  background-color: #1f1d1d;
  color: white;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 4rem;
  min-height: 20rem;
  width: 100%;
}

nav .container .logo {
  font-family: Kaushan Script;
  width: 50%;
  height: 100%;
  text-align: center;
}

nav .container .logo a {
  font-size: 4rem;
  color: white;
}

nav .container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

nav .container .navbar ul li {
  min-height: 5rem;
  min-width: 10rem;
  text-align: center;
  vertical-align: middle;
}

nav .container .navbar ul li a {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  font-size: 1.5rem;
}

#contact-pig {
  max-width: 300px;
  max-height: 300px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem;
}

footer div {
  min-width: 48%;
  font-size: 2rem;
}
/*# sourceMappingURL=styles.css.map */