/*/ general settings/styles below*/
@import url(c:\Users\arkadiusz.grzybowski\Documents\Site1\styles\media.css);
ul,
ol {
  text-decoration: none;
  list-style-type: none;
}

a:hover {
  cursor: pointer;
}

.whiteBg {
  background-color: white;
}

.blackBg {
  background-color: #1f1d1d;
}

.txt-type .txt {
  border-right: 0.1rem solid #777;
}

main {
  width: 100%;
}

.container {
  width: 100vw;
}

.flex-custom {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.tiles {
  height: 25rem;
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: white;
  border: solid black 1px;
  margin: 2%;
}

p {
  padding: 2rem 4rem 0 4rem;
  margin: 0;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: Lato;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 25px;
}

.wBg {
  background-color: white;
  margin-top: 0;
  padding-top: 0;
}

h1 {
  margin: 0;
}

nav {
  background-color: #1f1d1d;
  color: white;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 20%;
  font-size: 4rem;
  width: 100%;
}

nav .container .logo {
  font-family: Kaushan Script;
  width: 35%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

nav .container .logo a {
  margin: auto auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  height: 100%;
  font-size: 4rem;
  color: white;
}

nav .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 65%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

nav .container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 50%;
}

nav .container .navbar ul li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
}

nav .container .navbar ul li a {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  line-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
}

#welcome {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: #1f1d1d;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-pig {
  max-width: 300px;
  max-height: 300px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

input {
  padding: 2rem;
  text-align: start;
  font-size: 1.5rem;
}

input::-webkit-input-placeholder {
  font-size: 1.5rem;
}

input:-ms-input-placeholder {
  font-size: 1.5rem;
}

input::-ms-input-placeholder {
  font-size: 1.5rem;
}

input::placeholder {
  font-size: 1.5rem;
}

#contact-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact-form p {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  padding-bottom: 6rem;
}

.name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.name-email input {
  width: 45% !important;
  height: 4rem !important;
}

.wide {
  width: 60%;
  margin: 1.5rem;
}

.wide input {
  width: 100%;
  height: 4rem;
  background: #f5f5f5;
  border-radius: 4px;
}

.wide input:focus {
  outline: none;
}

.wide textarea[id="message"] {
  height: 20rem;
  width: 100%;
  font-size: 1.5rem;
  background: #f5f5f5;
  border-radius: 4px;
  padding: 2rem;
  resize: none;
}

.wide textarea:focus {
  outline: none;
}

button[type="submit"] {
  display: block;
  background-color: #1f1d1d;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  width: 20%;
}

footer div {
  min-width: 48%;
  font-size: 2rem;
}
/*# sourceMappingURL=styles.css.map */